APP_NAME="Govt Attendance"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=sqlite

SANCTUM_STATEFUL_DOMAINS=localhost:5173
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

FRONTEND_URL=http://localhost:5173

FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database
